*{
    padding: 0;
    margin: 0;
    background-color: floralwhite;
    font-family: Aldhabi;
    

}
.portfolio-sections{
    height: 400px;
    width: 100%;
    border: 2px solid black;
   
    background-color: floralwhite;
}
.navigation-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(11px);
    z-index: 1;
    background-color: floralwhite;
    
}
.portfolio-sections h1{
    margin-top: 50px;
}
html{
    scroll-behavior: smooth;
}
.main-container{
    position: relative;
    top:50px;
}
.brand{
    font-size: 30px;
    font-family: Aldhabi;
    font font-style: bold;
    font-variant:small-caps;
    color: royalblue;
    font-weight: bolder;
}
.navmenu{
    color: hotpink;
    font-size: 20px;
    font-family: Aldhabi;
    font-weight: bolder;
    padding-left: 15px;
}
.navmenu:hover{
    text-decoration: underline 2px solid black;
    text-underline-offset: 2px;
    
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

   
#home{
   height: 370px;
   background-image: url("https://user-images.githubusercontent.com/74038190/236119160-976a0405-caa7-470c-9356-16d43402ea0a.gif");
   background-size:26%;
   background-position:90% 20%;
   border: none;
   background-repeat: no-repeat;
   background-color: floralwhite;

}
#home-info{
    position: absolute;
    top: 20px;
    width: 400px;
    height: 250px;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 50px;
}
.info{
    font-weight: bolder;
    color: black;
}
.designation{
    color: black;
    font-size: 24px;
    font-weight: bolder;

}
.myname{
    font-size: 35px;
}
.rsmbtn{
    height: 45px;
    width: 100px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    font-size:15px;
    font-weight: bolder;
    background-color: hotpink;
    color: white;
    transition-duration: 1s;


}
.rsmbtn:hover{
    background-color: white;
    color: lightpink;
    border: 3px solid hotpink;
   
    transform: scale(1.1);
}

.about-section{
    height: 500px;
    width: 100%;
    background-color:floralwhite;
    border-bottom: 2px solid black;
}
.aboutmain{
    height:500px;
    width: 100%;
    display:flex;
    font-size: 23px;
    font family: Aldhabi;
    font-weight: bolder;

}
.aboutmain div{
    height: 500px;
    width:50%;
}
.minion{
    margin-top:90px ;
    margin-left: 80px;
    animation-name: zoom;
    animation-iteration-count: 1 ;
    background-color: floralwhite;
    
}
@keyframes zoom{
    100%{
        transform: scale(1.2);
        border-radius:60px;
    }
}
.heading{
    font-family: Aldhabi;
    text-align: centre;
    margin:30px 0px;
    font-size-40 px;
    color: hotpink;
    font-weight: bolder;


}
.carrerobjective{
    padding:30px;
    font-family: Aldhabi;
}
.carrerinformation{
    text-align: justify;
    line-height: 40px;
    text-indent: 80px;
    word-spacing: 6px;
    letter-spacing:1px;
    font-family: Aldhabi;
}
#skills {
    height: 700px;
    width: 100%;
    background-color: floralwhite;

    
    
    
}
.tbl {
    width: 70%;
    margin-left: 15%; /* Adjust as needed to center the table */
    margin-right: 15%; /* Adjust as needed to center the table */
    margin-top: 20px;
}

.tbl tr td {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px royalblue;
    transition-duration: 1.5s;
    
}

.skills-subheading{
    color: darkseagreen;
    font-family: Aldhabi;
    font-weight: bolder;
    font-size: 26px;
    font-variant: small-caps;

}
.detailedSkills{
    font-size: 23px;
    font-weight: bolder;
    font-color: black;
    line-height:40px;
    word-spacing: 3px;
    margiin-top:20px;
}
